<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1>
    <%= t Grower.model_name.human %>
    <%= render 'admin/shared/show_avatar', object: @grower, size: 50 %>
  </h1>
  <%= render @grower %>
  <%= render 'admin/shared/show_actions', object: @grower %>
</div>
