<div class="container">
  <div class="row">
    <div class="col-ms-6">
      <%=  simple_form_for([:admin, @vendor], html: {multipart: true}) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :title %>
          <%= f.input :address %>
          <%= f.input :phone %>
          <%= f.input :url %>
          <%= f.input :about %>
          <%= f.input :status, default: 0 %>
          <%#= render 'admin/shared/status_buttons', f: f %>
          <%= render 'admin/shared/form_avatar', f: f, object: @vendor %>

          <%= render 'admin/shared/form_actions', f: f, object: @vendor %>
        </div>
      <% end %>
    </div>
  </div>
</div>
